@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  p {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }


  // BTN CLASS
  .btn-class {
    color: #ffffff;
    border-radius: 30px;
    padding: 18px 36px;
    line-height: normal;
    background-color: #33944E;
  }

  // FORM CONTROL
  .form-control {
    &:focus {
      border-color: #2e994c;
    }
  }

  // CARD ONE
  .card-one {
    border-width: 0;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(204, 210, 218, .07),
      0 2px 4px rgba(204, 210, 218, .07),
      0 4px 8px rgba(204, 210, 218, .07),
      0 8px 16px rgba(204, 210, 218, .07),
      0 16px 32px rgba(204, 210, 218, .07),
      0 32px 64px rgba(204, 210, 218, .07);

    .card-header {
      background-color: #ffffff;
      padding: 15px;
    }
  }

  .product-wrapper {
    border-radius: 4px;
    background-color: #f8f9fc;
    overflow: auto;
  }

  // PAGE TITLE
  .page-title {
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgb(0 0 0 / 69%);
    }

    .page-title-content {
      position: relative;
      z-index: 2;

      h2 {
        color: #fff;
        font-size: 26px;
        font-weight: 600;
        text-transform: uppercase;
      }

      .bread-crumb {
        display: inline-block;
        margin-top: 15px;
        position: relative;
        z-index: 2;

        li {
          color: #f3f3f3;
          display: inline-block;
          font-size: 16px;
          font-weight: 400;
          position: relative;
          text-transform: capitalize;

          &:first-child {
            margin-right: 20px;

            &::after {
              color: #fff;
              content: "-";
              line-height: 1em;
              position: absolute;
              right: -12px;
              top: 4px;
            }

          }

          a {
            color: #f3f3f3;

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }

  // COMMON BTN
  .common-btn {
    display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    padding: 13px 30px;
    background-color: #038f9d;
    color: #fff;
    border: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:hover,
    &:focus,
    &:active {
      color: #fff;
      background-color: #081828;
    }
  }

  // SECTION TITLE
  .section-title {
    margin-bottom: 4rem;
    text-align: center;

    h2 {
      letter-spacing: -.015em;
      color: #111827;
      font-size: 40px;
      font-weight: 700;
      line-height: 1.25;
      position: relative;
      margin-bottom: 16px;

      &::before {
        content: "";
        display: block;
        position: absolute;
      }

      &::before {
        background: #111827;
        bottom: 0px;
        height: 2px;
        left: calc(50% - 60px);
        width: 120px;
      }

      ::after {
        background: linear-gradient(135deg, #138c89, #1e6f70);
        bottom: 0;
        height: 4px;
        left: calc(50% - 20px);
        width: 40px;
      }
    }

    p {
      font-size: 16px;
      width: 672px;
      margin: 0 auto;
      padding: 0 3rem;
    }

  }


  .home-section-background {
    position: absolute;
    /* or absolute if inside another container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;

    /* keeps it behind content */
    iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100vw;
      height: 56.25vw;
      /* 16:9 aspect ratio (9/16 = 0.5625) */
      min-width: 177.78vh;
      /* (16/9 * 100vh) ensures full height */
      min-height: 100vh;
      transform: translate(-50%, -50%);
      pointer-events: none;
      border: none;
    }
  }


  // MAIN APP
  .main-app {
    padding-top: 74px;

    // SECTION TITLE
    .section-title {
      text-align: center;
      margin-bottom: 4rem;

      h3 {
        color: #141414;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 1rem;
        padding-bottom: 15px;
        position: relative;
        text-transform: uppercase;

        &::before,
        &::after {
          content: "";
          position: absolute;
          display: block;
        }

        &::before {
          width: 120px;
          height: 1px;
          bottom: 1px;
          left: calc(50% - 60px);
          background: #141414;
        }

        &::after {
          width: 40px;
          height: 4px;
          bottom: 0px;
          left: calc(50% - 20px);
          background: #141414;
        }
      }

      p {
        font-size: 14px;
      }
    }
  }
}

// MOBILE VIEW MEDIA QUERY
@media screen and (max-width: 480px) {
  body {
    .main-app {
      padding-top: 60px;
    }

    .btn-class {
      padding: 15px 30px;
    }

    .main-app {
      section {
        padding: 40px 0;
      }

      .section-title {
        padding: 0 10px;
        margin-bottom: 3rem;

        h2 {
          font-size: 20px;
        }

        p {
          font-size: 12px;
          width: 100%;
        }
      }

      .page-title {
        height: 200px;

        .bread-crumb-content {
          h2 {
            font-size: 20px;
            line-height: normal;
          }

          .bread-crumb {
            margin-top: 8px;


            li {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}