.footer {
    color: #fff;
    padding: 40px 0;
    background: #111827;

    .footer-top {
        margin-bottom: 2rem;

        h2 {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 12px;
        }

        h3 {
            font-size: 16px;
            line-height: 24px;
        }

        h5 {
            margin-bottom: 12px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                font-size: 0.9rem;
                margin-bottom: 10px;

                a {
                    color: rgb(255 255 255 / 70%);
                    text-decoration: none;

                    i {
                        font-size: 22px;
                        vertical-align: middle;
                    }

                    span {
                        margin-left: 5px;
                    }

                    &:hover {
                        color: #fff;
                    }
                }
            }

            &.social-icons {
                margin-top: 20px;

                li {
                    a {
                        display: flex;
                        height: 40px;
                        width: 40px;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        padding: 0;
                        background-color: rgba(255, 255, 255, 0.1);

                        &:hover {
                            background-color: #2E7AD8;
                            color: #fff;
                        }
                    }
                }
            }
        }


    }

    .bottom-footer {
        padding-top: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid rgba(255, 255, 255, 0.1);

        p {
            color: rgba(255, 255, 255, 0.5);
            font-size: 14px;
            margin: 0px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                font-size: 0.9rem;
                margin-bottom: 10px;

                a {
                    color: rgb(255 255 255 / 70%);
                    text-decoration: none;

                    i {
                        font-size: 22px;
                        vertical-align: middle;
                    }

                    span {
                        margin-left: 5px;
                    }

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }

}

// MOBILE VIEW MEDIA QUERY
@media screen and (max-width: 480px) {
    .footer {
        .footer-top {

            .footer-col {
                margin-top: 24px;
            }

            h3 {
                font-size: 14px;
                line-height: 22px;
            }

            h5 {
                font-size: 14px;
            }

            ul {
                li {
                    font-size: 14px;
                    margin-bottom: 6px;
                }
            }


        }

        .bottom-footer {
            display: block;
            p {
                text-align: center;
                margin-bottom: 1rem;
            }

            ul {
                justify-content: center;
            }
        }
    }
}