.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    .pulsating-loader {
        display: flex;
        align-items: center;
        justify-content: center;

        .pulse {
            width: 40px;
            height: 40px;
            background-color: #6366f1;
            border-radius: 50%;
            animation: pulse 1.5s ease-in-out infinite;
        }

        .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }
    }

}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.4);
        opacity: 0.6;
    }
}